<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title><%= title %></title>

  <!-- Favicons -->
  <link href="/images/favicon.png" rel="icon">
  <link href="/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


  <!-- Template Main CSS File -->
  <link href="/stylesheets/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">


      <div class="profile">
        <img src="/images/profile-img.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Brayam Oliveros</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://twitter.com/andrey74408275" class="twitter" target="_blank"><i
              class="bx bxl-twitter"></i></a>
          <a href="https://github.com/AndreyRi13" class="GitHub" target="_blank"><i class="bx bxl-github"></i></a>
          <a href="https://gitlab.com/Andrey1304" class="GitLab" target="_blank"><i class="bx bxl-gitlab"></i></a>
          <a href="https://www.linkedin.com/in/brayam-andrey-oliveros-rivera-00a514200/" class="linkedin"
            target="_blank"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Inicio</span></a></li>
          <li><a href="#perfilprofesional" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Perfil
                Profesional</span></a></li>
          <a href="#skills" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Skills principales</span></a>
          <li><a href="#formacionacademica" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Formación
                académica</span></a></li>
          <li><a href="#formacioncomplementaria" class="nav-link scrollto"><i class="bx bx-file-blank"></i>
              <span>Formación complementaria</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i>
              <span>Portafolio</span></a></li>
          <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Servicios y
                Referencias</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contacto</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->
 <!-- ======= Hero Section ======= -->
 <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container">
    <h1>Brayam A. Oliveros R.</h1>
    <p>Soy <span class="typed"
        data-typed-items="Desarrollador de software,Analista de sistemas,Diseñador de software"></span></p>
  </div>
</section><!-- End Hero -->
